.w-card-container {
    padding: 20px;
    border-radius: 4px;
    // box-shadow: 0px 2px 1px -1px rgba(0px, 0px, 0px, 20%), 
    //             0px 1px 1px 0px rgba(0px, 0px, 0px, 14%), 
    //             0px 1px 3px 0px rgba(0px, 0px, 0px, 12%);
}
.pink-card {
    background: linear-gradient( 60deg, hsl(340, 82%, 59%), #d81b60);
}
.yellow-card {
    background: linear-gradient( 60deg, #ffa726, #fb8c00);
}
.green-card {
    background: linear-gradient( 60deg, #66bb6a, #43a047);
}
.blue-card {
    background: linear-gradient( 60deg, #26c6da, #00acc1);
}
.w-card-header {
    justify-content: space-between;
    display: flex;
    font-size: 40px;
    margin-bottom: 10px;
}

.w-card-sub-header {
    text-align: end;
    margin-bottom: 5px;
    font-size: 17px;
}
.w-card-action {
    margin-top: 20px;
    button {
        color: #fff !important;
        border: 1px solid #fff !important;
    }
}
