@import '../../../../@theme/styles/themes';

@include nb-install-component() {
    chart {
        display: block;
        height: nb-theme(card-height-medium);
        width: 100%;

        ::ng-deep chart {
        display: block;
        height: 100%;
        width: 100%;
    }
  }
  ngx-charts-bar-vertical {
    display: block;
    width: 100%;
    height: nb-theme(card-height-medium);

    ::ng-deep {
      .pie-label {
        fill: nb-theme(text-basic-color);
      }

      text {
        fill: nb-theme(text-hint-color);
      }

      .chart-legend {
        .legend-labels {
          background: nb-theme(background-basic-color-2);
        }
        .legend-label {
          color: nb-theme(text-hint-color);
          .active .legend-label-text {
            color: nb-theme(text-basic-color);
          }
        }
      }

      .total-value,
      .item-value,
      .item-percent {
        line-height: 1.25;
      }

      .legend-items {
        overflow-y: hidden;
      }
    }
  }
}
